.App {
  text-align: center;
  width: 100vw;
}
.app-carousel {
  position: relative;
  margin: auto;
  width:390px;
  height: auto;
  display: flex;
  overflow-x:auto;
  column-gap: 10px;
}
.left-btn{
  position:fixed;
  left:0;
  top:50%;
  background: transparent;
  border: none;
  font-size: 32px;
}
.right-btn{
  position:fixed;
  right:0;
  top:50%;
  background: transparent;
  border: none;
  font-size: 32px;
}
